@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  margin: 0;
}
body {
  background-color: #25274d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
}
a {
  color: white;
  text-decoration: none;
  text-align: center;
}
.showcase {
  width: 25%;
  height: 30vh;
  background-color: #29648a;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  min-height: 180px;
}
.showcase:hover {
  transform: scale(1.15);
}
a:hover {
  text-decoration: underline;
}
@media (max-width: 800px) {
  .showcase {
    font-size: 20px;
  }
}

